.headings{
   
    
     color: rgb(14, 110, 235) ; 
}
.container{
    padding-top: 2%;
}
 
 .background{
     background-color: rgba(241, 241, 241, 0.651);
 }
.box{
    padding-right:5% ;
}
#calculation-btn{
    background-color: rgb(14, 110, 235);
    color: white;
}
#savings-btn{
    background-color: rgb(14, 110, 235);
    color: white;
}